
a:link {
         color: #786D5F;
         background-color: transparent;
         text-decoration: none;
     }
     a:hover {
         color: red;
         background-color: transparent;
         text-decoration: underline;
     }
     .table {
        margin: auto;
        width:400px;
        height:500px;
        border: none;
        border-radius: 20px;
        box-shadow: 10px 10px 5px grey; 
        background:linear-gradient(to top, #dad299, #b0dab9); 
        padding: 10px;
     }
    
  #save {
    background-color:green; 
    color:white;
    width:100px;
  }
  
  .td {
    color:goldenrod;
  }

  #home {
    height: 100%;
    width:100%; 
    font-size: 0;
   }
    #home {width: 20%; }
   .cards {
      display:inline-block;
      margin:10px;
      float:left;
   }
 .flex {
    display:flex;
    flex-wrap:nowrap;
  }
  .box {
    width:50%;
  } 
  
    #heading{
  	position:relative;
  	top:-50px;
  	left:400px;
  }
  
  #logo{
  	position:relative;
  	top:20px;
  	left:0px;
  }
  
  #header{
  	height:75px;
  	font-size:20px;
  }
  
   #background{
       background-image: url("/image/login1.jpeg");
       background-repeat: no-repeat;
       background-size: 100% 700px;
   }
