
a:link {
         color: #786D5F;
         background-color: transparent;
         text-decoration: none;
     }
     a:hover {
         color: red;
         background-color: transparent;
         text-decoration: underline;
     }
     .table {
        margin: auto;
        width:400px;
        height:500px;
        border: none;
        border-radius: 20px;
        box-shadow: 10px 10px 5px grey; 
        background:linear-gradient(to top, #dad299, #b0dab9); 
        padding: 10px;
     }
    
  #save {
    background-color:green; 
    color:white;
    width:100px;
  }
  
  .td {
    color:goldenrod;
  }
  
  .flex {
    display:flex;
    flex-wrap:nowrap;
  }
  .box {
    width:50%;
  }  
