@charset "UTF-8"; 
  #heading{
  	top:-20px;
  	left:400px;
  }
  
  .logo{
  	width:20%;
  }
  
  #header{
  	height:75px;
  	font-size:20px;
  }
  
 .flex {
    display:flex;
    flex-wrap:nowrap;
  }
  .box {
    width:80%;
  } 