@charset "UTF-8";

.navbar{
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

.navbar a#active {
  background-color: #4CAF50;
  color: white;
}

.navbar a:hover:not(#active) {
  background-color: #555;
  color: white;
}

.navbar .search-container {
  float: right;
}

.navbar input[type=text] {
  padding: 5px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 5px 15px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background: #ccc;
}

.navbar .search-container button:hover {
  background: #3b87d6;
}