#loginForm {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 8%;
  top: 10%;
  width: 60%; /* Full width */
  height: 50%; /* Full height */
  padding-left:30%;
}

.background {
  font-family: -webkit-body;
  font-size: 20px;
  color: cornsilk;
  filter: url();
  display:flex;
  }
 
.signUp{
  background: #ffb33b;
  margin-left: 35%;
  width: 500px;
  padding: 3%;
  box-shadow: 5px 5px 5px;  
  background-size: 200% 200%;
}  
.bg {
  background: #ffb33b;
  background: -moz-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ff5221), color-stop(100%, #ffb33b));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ff5221 0%, #ffb33b 100%);
  /* W3C */
  background-size: 250% 250%;
  padding: 10%;
  box-shadow: 5px 5px 5px; 
  }
form input.name {
  background-image: url("/image/user.png");
  background-position: 220px 10px;
}

.btn-primary {
    color: #fff;
    background-color: #19568a;
    border-color: #2e6da4;
}

.close {
  color: red;
  align: right;
  font-size: 30px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

label{
	color: #333;
}

.content {
	color: #333;
	width:500px
}