#loginForm {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 10%;
  top: 10%;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  padding-left:34%;
}
.background {
  font-family: -webkit-body;
  font-size: 20px;
  color: cornsilk;
  filter: url();
  display:flex;
  }
  
.bg {
  background-color:#F0FFFF;
  padding: 10%;
  box-shadow: 5px 5px 5px; 
  }
form input.name {
  background-image: url("/image/user.png");
  background-position: 220px 10px;
}

.btn-primary {
    color: #fff;
    background-color: #19568a;
    border-color: #2e6da4;
}

.close {
  color: red;
  align: right;
  font-size: 30px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

label{
	color: #333;
}

.content {
	color: #333;
	width:500px
}