
.button {
  width: 80px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  box-shadow: 10px 10px 5px grey;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.info {
	width: 200px;
	font-family: verdana;
}
.ans{
	width:200px;
	border: none;
}
.data {
	heigth: 300px;
	padding: 10px;
}
     .table {
        margin: auto;
        margin-top: 5%;
        width:200px;
        height:300px;
        border: none;
        box-shadow: 10px 10px 5px grey; 
        background:linear-gradient(to top, #dad299, #b0dab9); 
        padding: 20px;
     }

   #login{
       background-image: url("/image/login1.jpeg");
       background-repeat: no-repeat;
       background-size: 100% 700px;
   }
   #heading{
  	position:relative;
  	top:-50px;
  	left:400px;
  }
  
  #logo{
  	position:relative;
  	top:20px;
  	left:0px;
  }
  
  #header{
  	height:75px;
  	font-size:20px;
  }