.reject {
  color: red;
  align: center;
  font-size: 20px;
  font-weight: bold;
}

.reject:hover,
.reject:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.accept {
  color: green;
  align: center;
  font-size: 20px;
  font-weight: bold;
}

.accept:hover,
.accept:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
   .table {
      margin: auto;
      width:400px;
      height:500px;
      border: none;
      border-radius: 20px;
      box-shadow: 10px 10px 5px grey; 
      background:linear-gradient(to top, #dad299, #b0dab9); 
      padding: 20px;
   }
   #home {
    height: 100%;
    width:100%; 
    font-size: 0;
   }
    #home {width: 20%; }
   .cards {
      display:inline-block;
      margin:10px;
      float:left;
   }
   table, td {
      text-align: center;
      padding: 10px;
   }
   
   input[type=button] {
     width: 100%;
     background-image: linear-gradient(to right, #26a7af, #26aeab, #30b4a5, #41ba9d, #54c094);
     color: black;
     padding: 10px 10px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
   }

   #background{
       background-image: url("/image/login1.jpeg");
       background-repeat: no-repeat;
       background-size: 100% 700px;
   }