   .table {
      margin: auto;
      width:400px;
      height:500px;
      border: none;
      border-radius: 20px;
      box-shadow: 10px 10px 5px grey; 
      background:linear-gradient(to top, #dad299, #b0dab9); 
      padding: 10px;
   }
   html, body {
      background-image: linear-gradient(to right, #26a7af, #26aeab, #30b4a5, #41ba9d, #54c094);
   }
   table, td {
      text-align: center;
      padding: 10px;
   }
    